// Styles for input text fields
@mixin input-text-style() {
	width: 100%;
	border: none;
	padding: 5px;
	margin: 1em 0px;
	font-size: 13pt;
	border-bottom: 1px solid;
	border-bottom-color: $grey;
	@include transition(0.2s, border-bottom-color, 0.1s, ease-out);

	&:focus {
		outline: none;
		border-bottom-color: $light_blue;
	}
}

// Styles for input submit/button fields
@mixin input-submit-style() {
	width: 200px;
	padding: 10px;
	cursor: pointer;
	font-size: 12pt;
	margin-top: 0.5em;
	color: $dark_grey;
	background-color: $white2;
	border: 2px solid $light_grey;
}

// Centers a single element using flexbox
@mixin center-flex($align) {
	display: flex;
	align-items: center;
	justify-content: $align;
}

// Sets an image as an element background with pre-defined settings
@mixin image-background($image) {

	$images_dir: '../../img/app/';

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("#{$images_dir}#{$image}");
}

// Transitions with all properties
@mixin transition($duration, $property, $delay, $timing-function) {
	transition-delay: $delay;
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $timing-function;
}

// Standar hr styles
@mixin hr-style($color) {
	width: 100%;
	height: 2px;
	border: none;
	margin: 2em 0px;
	background-color: $color;
}

// Code to make sure the page covers the whole screen
@mixin fullscreen() {
	html,body {
		height: 100%;

		main {
			min-height: 80%;
		}
	}
}