@import "partials/base";

// make sure that page covers the whole height
html,body {
	height: 100%;

	main {
		min-height: 80%;
	}
}

html {
	body {
		header {
			@import 'partials/nav';
			// nav {
			// 	width: 100%;
			// 	padding: 0em 2em;
			// 	// margin-bottom: 1em;
			// 	background-color: $white2;
			// 	@include center-flex(space-between);
			// 	border-bottom: 1px solid $light_grey;

			// 	ul {
			// 		list-style: none;
			// 		@include center-flex(center);

			// 		li {
			// 			color: $black;
			// 			font-weight: 500;
			// 			margin: 0px 0.5em;

			// 			&.logo {
			// 				font-size:20pt;
			// 				font-weight: bold;

			// 				a {
			// 					padding: 0;
			// 					margin-right: 0.5em;
			// 					transition: none;

			// 					&:hover {
			// 						background-color: transparent;
			// 					}
			// 				}
			// 			}

			// 			a {
			// 				color: #000;
			// 				padding: 1em 1em;
			// 				display: inline-block;
			// 				text-decoration: none;
			// 				@include transition(0.2s, color, 0.1s, ease-out);

			// 				&:hover {
			// 					background-color: $light_grey2;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}

		main {
			width: 100%;
			margin: auto;
			padding: 2em;
			max-width: 1000px;
			flex-direction: column;
			@include center-flex(center);

			h2 {
				font-size: 20pt;
				margin: 1em 0px;
			}

			form {
				width: 70%;
				flex-direction: column;
				@include center-flex(center);

				input[type=text],
				input[type=password] {
					width: 100%;
					border: none;
					padding: 5px;
					margin: 1em 0px;
					font-size: 13pt;
					border-bottom: 1px solid;
					border-bottom-color: $grey;
					@include transition(0.2s, border-bottom-color, 0.1s, ease-out);

					&:focus {
						outline: none;
						border-bottom-color: $light_blue;
					}
				}

				input[type=submit] {
					width: 200px;
					padding: 10px;
					cursor: pointer;
					font-size: 12pt;
					margin-top: 0.5em;
					color: $dark_grey;
					background-color: $white2;
					border: 2px solid $light_grey;
				}
			}

			hr {
				width: 100%;
				height: 2px;
				border: none;
				margin: 2em 0px;
				background-color: $light_grey;
			}

			p a {
				color: $dark_grey;
			}
		}

		// Import footer styles
		@import 'partials/footer';
	}
}