*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*
* This file imports all the stylesheets modules
*/
body {
  line-height: 1.3;
  background-color: #eee;
  font-family: "Roboto", "Arial", sans-serif;
}
body header {
  z-index: 1;
  width: 100%;
  height: 800px;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../img/app/header-background.jpg");
}
body header nav {
  top: 0px;
  z-index: 5;
  width: 100%;
  padding: 1em 2em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav ul li {
  color: #FFF;
  margin: 0px 1em;
}
body header nav ul li.logo {
  font-size: 20pt;
  font-weight: bold;
}
body header nav ul li.logo a {
  transition: none;
}
body header nav ul li.logo a:hover {
  color: #FFF;
}
body header nav ul li a {
  color: #FFF;
  text-decoration: none;
  transition-delay: 0.1s;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
body header nav ul li a:hover {
  color: #e6e6e6;
}
body header .header-overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: #000;
}
body header .header-content {
  z-index: 3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body header .header-content h2 {
  color: #FFF;
  font-size: 30pt;
}
body header .header-content p {
  color: #FFF;
  opacity: 0.5;
  padding: 0px 2em;
  margin: 1.5em 0px;
}
body header .header-content .image-rights {
  margin: 0px;
  bottom: 15px;
  position: absolute;
  transition-delay: 0.1s;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
body header .header-content .image-rights:hover {
  opacity: 1;
}
body header .header-content .image-rights a {
  color: #FFF;
  text-decoration: none;
}
body header .header-content .search {
  width: 70%;
  margin: 0em auto;
}
body header .header-content .search .input-wrapper {
  padding: 5px;
  border-radius: 5px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .header-content .search .input-wrapper input[type=text] {
  width: 90%;
  border: none;
  padding: 10px;
  font-size: 12pt;
  background-color: transparent;
}
body header .header-content .search .input-wrapper input[type=text]:focus {
  outline: none;
}
body header .header-content .search .input-wrapper input[type=submit] {
  width: 10%;
  border: none;
  cursor: pointer;
  font-size: 12pt;
  background: none;
  color: #777;
  transition-delay: 0.1s;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
body header .header-content .search .input-wrapper input[type=submit]:hover {
  color: #2b2b2b;
}
body main section.mejor-vendidos {
  padding: 2em;
  background-color: #FFF;
}
body main section.mejor-vendidos .section-content h2 {
  font-size: 25pt;
  color: #777;
  text-align: center;
}
body main section.mejor-vendidos .section-content hr {
  width: 90%;
  display: block;
  margin: 2em auto;
}
body main section.mejor-vendidos .section-content .objects-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main section.mejor-vendidos .section-content .objects-wrapper .object {
  margin: 0px 10px;
  border: 1px solid #000;
}
body main section.mejor-vendidos .section-content .objects-wrapper .object .img {
  width: 100%;
  height: 350px;
  background-color: #777;
}
body main section.mejor-vendidos .section-content .objects-wrapper .object .info h3 {
  padding: 0.5em;
  font-size: 14pt;
  color: #777;
}
body main section.mejor-vendidos .section-content .objects-wrapper .object .info .desc_meta {
  width: 100%;
  font-size: 11pt;
  background-color: #eee;
}
body main section.mejor-vendidos .section-content .objects-wrapper .object .info .desc_meta p {
  padding: 0.7em;
}
body main section.mejor-vendidos .section-content .objects-wrapper .object .info .desc_meta .meta {
  width: 100%;
  padding: 0.5em;
  list-style: none;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main section.mejor-vendidos .section-content .objects-wrapper .object .info .desc_meta .meta li {
  display: flex;
  align-items: center;
  justify-content: center;
}
