// Import all the modules
@import '../modules/all';

// General Styles
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	line-height: 1.3;
	font-family: 'Roboto', 'Arial', sans-serif;
}

a {
	color: $dark_grey;
}

// font weighs
$normal: 400;
$bold: 600;

// Screen widths deskup
$max_width: 1200px;
